[submodule "myToken/lib/forge-std"]
	path = myToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "myToken/lib/openzeppelin-contracts"]
	path = myToken/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
